<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Clientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #clienteForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="floating">Nome *:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="cliente.nome" required minlength="5" pattern="[a-zA-Z ]+"
        #campoNome="ngModel">
      </ion-input>
      <ion-text color="danger" *ngIf="campoNome.invalid && (campoNome.dirty || campoNome.touched)">
        <small>
          <span *ngIf="campoNome.errors.required">
            O nome é obrigatório
          </span>
          <span *ngIf="campoNome.errors.minlength">
            O campo nome deve ter no mínimo 5 caracteres
          </span>
          <span *ngIf="campoNome.errors.pattern">
            O campo nome deve conter apenas letras
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF *: </ion-label>
      <ion-input #cpf="ngModel" type="text" (ionChange)="maskCpf($event)" [(ngModel)]="cliente.cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
      placeholder="000.000.000-00"  minlength="14" maxlength="14" required></ion-input>
      <ion-text color="danger" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
        <small>
          <span *ngIf="cpf.errors.required">
            CPF obrigatório
          </span>
          <span *ngIf="cpf.errors.pattern">
            CPF inválido
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço *: </ion-label>
      <ion-input #endereco="ngModel" type="text" [(ngModel)]="cliente.endereco" name="endereco" minlength="3" required>
      </ion-input>
      <ion-text color="danger" *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)">
        <small>
          <span *ngIf="endereco.errors.required">
            Endereço obrigatório
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone : </ion-label>
      <ion-input #telefone="ngModel" (ionChange)="maskTel($event)" type="text" [(ngModel)]="cliente.telefone" name="telefone" placeholder="(99) 9999-9999"
      pattern="(\([0-9]{2}\))\s([0-9]{4})-([0-9]{4})" minlength="14" maxlength="14"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular *: </ion-label>
      <ion-input #celular="ngModel" (ionChange)="maskCel($event)" type="text" [(ngModel)]="cliente.celular" name="celular" placeholder="(99) 99999-9999"
      pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{5})-([0-9]{4})" minlength="15" maxlength="15" required></ion-input>
      <ion-text color="danger" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
        <small>
          <span *ngIf="celular.errors.required">
            Celular obrigatório
          </span>
          <span *ngIf="celular.errors.pattern">
            Formato inválido
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagem (URL) *: </ion-label>
      <ion-input #imagem="ngModel" type="url" [(ngModel)]="cliente.imagem" name="imagem" required></ion-input>
      <ion-text color="danger" *ngIf="imagem.invalid && (imagem.dirty || imagem.touched)">
        <small>
          <span *ngIf="imagem.errors.required">
            A imagem é obrigatória.
          </span>
        </small>
      </ion-text>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="clienteForm.invalid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>