<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Ordens de serviço</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #ordemForm="ngForm" novalidate>

    <ion-item>
      <ion-label>Cliente:</ion-label>
      <ion-select [(ngModel)]="ordem.cliente" placeholder="Selecione o cliente"
        [compareWith]="compareWith" name="cliente" >
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">
          {{cliente.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data: </ion-label>
      <ion-input type="date" [(ngModel)]="ordem.data" name="data" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Veículo:</ion-label>
      <ion-select [(ngModel)]="ordem.veiculo" placeholder="Selecione o veiculo"
        [compareWith]="compareWith" name="veiculo" >
        <ion-select-option *ngFor="let veiculo of veiculos" [value]="veiculo">
          {{veiculo.descricao}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Mecânico:</ion-label>
      <ion-select [(ngModel)]="ordem.mecanico" placeholder="Selecione o mecanico"
        [compareWith]="compareWith" name="mecanico" >
        <ion-select-option *ngFor="let mecanico of mecanicos" [value]="mecanico">
          {{mecanico.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Peça(s):</ion-label>
      <ion-select [(ngModel)]="ordem.pecas" multiple="true" placeholder="Selecione a(s) peça(s)"
        [compareWith]="compareWith" name="peca">
        <ion-select-option *ngFor="let peca of pecas" [value]="peca">
          {{peca.descricao}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Serviço(s):</ion-label>
      <ion-select [(ngModel)]="ordem.servicos" multiple="true" placeholder="Selecione o(s) serviço(s)"
      [compareWith]="compareWith" name="servico" >
        <ion-select-option *ngFor="let servico of servicos" [value]="servico">
          {{servico.descricao}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Total serviço: </ion-label>
      <ion-input #totalServico="ngModel" type="number"  [(ngModel)]="ordem.totalServico" name="totalServico" min="0" pattern="[0-9]+\.?[0-9]*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Peça: </ion-label>
      <ion-input #totalPeca="ngModel" type="number"  [(ngModel)]="ordem.totalPeca" name="totalPeca" min="0" pattern="[0-9]+\.?[0-9]*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Desconto: </ion-label>
      <ion-input #desconto="ngModel" type="number" [(ngModel)]="ordem.desconto" name="desconto" min="0" pattern="[0-9]+\.?[0-9]*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Bruto: </ion-label>
      <ion-input #bruto="ngModel" type="number"  [(ngModel)]="ordem.totalBruto" name="bruto" min="0" pattern="[0-9]+\.?[0-9]*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Líquido: </ion-label>
      <ion-input #liquido="ngModel" type="number"  [(ngModel)]="ordem.totalLiquido" name="liquido" min="0" pattern="[0-9]+\.?[0-9]*"></ion-input>
    </ion-item>


    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="ordemForm.invalid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>